ADMIN_EMAIL=admin@sumedha-photoclub.local
ADMIN_PASSWORD=ChangeMe123!
JWT_SECRET=replace-with-a-long-random-secret
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Sumedha College Photography Club <no-reply@example.com>
NEXT_PUBLIC_BASE_URL=http://localhost:3000
UPLOAD_ROOT=public/uploads
NEXT_PUBLIC_SUPABASE_URL=https://fyovjnqpbakvwtwneqah.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_EDh5vXVhJvuxKKPPAfRNlQ_OBsYI-SL